<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DatasourceLookup2</servlet-name>
        <servlet-class>com.bo.servlet.DatasourceLookup2</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>-1</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>TransactionServlet</servlet-name>
        <servlet-class>com.bo.servlet.TransactionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransactionServlet</servlet-name>
        <url-pattern>/TransactionServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AgentKopServlet</servlet-name>
        <servlet-class>com.bo.servlet.AgentKopServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AgentKopServlet</servlet-name>
        <url-pattern>/AgentKopServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CorporationServlet</servlet-name>
        <servlet-class>com.bo.servlet.CorporationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CorporationServlet</servlet-name>
        <url-pattern>/CorporationServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SettlementServlet</servlet-name>
        <servlet-class>com.bo.servlet.SettlementServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SettlementServlet</servlet-name>
        <url-pattern>/SettlementServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CrudTransactionServlet</servlet-name>
        <servlet-class>com.bo.servlet.CrudTransactionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrudTransactionServlet</servlet-name>
        <url-pattern>/CrudTransactionServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ConnectionbillerServlet</servlet-name>
        <servlet-class>com.bo.servlet.ConnectionbillerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnectionbillerServlet</servlet-name>
        <url-pattern>/ConnectionbillerServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CrudConnectionbillerServlet</servlet-name>
        <servlet-class>com.bo.servlet.CrudConnectionbillerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrudConnectionbillerServlet</servlet-name>
        <url-pattern>/CrudConnectionbillerServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BillerproductServlet</servlet-name>
        <servlet-class>com.bo.servlet.BillerproductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BillerproductServlet</servlet-name>
        <url-pattern>/BillerproductServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CrudBillerproductServlet</servlet-name>
        <servlet-class>com.bo.servlet.CrudBillerproductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrudBillerproductServlet</servlet-name>
        <url-pattern>/CrudBillerproductServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MappingagentServlet</servlet-name>
        <servlet-class>com.bo.servlet.MappingagentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MappingagentServlet</servlet-name>
        <url-pattern>/MappingagentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CrudMappingagentServlet</servlet-name>
        <servlet-class>com.bo.servlet.CrudMappingagentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrudMappingagentServlet</servlet-name>
        <url-pattern>/CrudMappingagentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MappingbillerServlet</servlet-name>
        <servlet-class>com.bo.servlet.MappingbillerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MappingbillerServlet</servlet-name>
        <url-pattern>/MappingbillerServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CrmbillerServlet</servlet-name>
        <servlet-class>com.boa.servlet.CrmbillerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrmbillerServlet</servlet-name>
        <url-pattern>/CrmbillerServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CrudCrmbillerServlet</servlet-name>
        <servlet-class>com.bo.servlet.CrudCrmbillerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrudCrmbillerServlet</servlet-name>
        <url-pattern>/CrudCrmbillerServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CrmagentServlet</servlet-name>
        <servlet-class>com.boa.servlet.CrmagentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrmagentServlet</servlet-name>
        <url-pattern>/CrmagentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CrudCrmagentServlet</servlet-name>
        <servlet-class>com.bo.servlet.CrudCrmagentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrudCrmagentServlet</servlet-name>
        <url-pattern>/CrudCrmagentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TopupbillerServlet</servlet-name>
        <servlet-class>com.bo.servlet.TopupbillerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TopupbillerServlet</servlet-name>
        <url-pattern>/TopupbillerServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TopupagentServlet</servlet-name>
        <servlet-class>com.bo.servlet.TopupagentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TopupagentServlet</servlet-name>
        <url-pattern>/TopupagentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.bo.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.bo.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AgentServlet</servlet-name>
        <servlet-class>com.bo.servlet.AgentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AgentServlet</servlet-name>
        <url-pattern>/AgentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MerchantServlet</servlet-name>
        <servlet-class>com.bo.servlet.MerchantServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MerchantServlet</servlet-name>
        <url-pattern>/MerchantServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AgentlimitServlet</servlet-name>
        <servlet-class>com.bo.servlet.AgentlimitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AgentlimitServlet</servlet-name>
        <url-pattern>/AgentlimitServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginCRServlet</servlet-name>
        <servlet-class>com.bo.servlet.LoginCRServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginCRServlet</servlet-name>
        <url-pattern>/LoginCRServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginUDServlet</servlet-name>
        <servlet-class>com.bo.servlet.LoginUDServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginUDServlet</servlet-name>
        <url-pattern>/LoginUDServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BackendUserServlet</servlet-name>
        <servlet-class>com.bo.servlet.BackendUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BackendUserServlet</servlet-name>
        <url-pattern>/BackendUserServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ReportyabesServlet</servlet-name>
        <servlet-class>com.bo.servlet.ReportyabesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReportyabesServlet</servlet-name>
        <url-pattern>/ReportyabesServlet</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>ReportToday</servlet-name>
        <servlet-class>com.bo.servlet.ReportToday</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReportToday</servlet-name>
        <url-pattern>/ReportToday</url-pattern>
    </servlet-mapping>
    
        <servlet>
        <servlet-name>Report7day</servlet-name>
        <servlet-class>com.bo.servlet.Report7day</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Report7day</servlet-name>
        <url-pattern>/Report7day</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>ReportThismonth</servlet-name>
        <servlet-class>com.bo.servlet.ReportThismonth</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReportThismonth</servlet-name>
        <url-pattern>/ReportThismonth</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>billerbalanceServlet</servlet-name>
        <servlet-class>com.bo.servlet.billerbalanceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>billerbalanceServlet</servlet-name>
        <url-pattern>/billerbalanceServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>agentbalanceServlet</servlet-name>
        <servlet-class>com.bo.servlet.agentbalanceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>agentbalanceServlet</servlet-name>
        <url-pattern>/agentbalanceServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HystoriPoinServlet</servlet-name>
        <servlet-class>com.bo.servlet.HystoriPoinServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HystoriPoinServlet</servlet-name>
        <url-pattern>/HystoriPoinServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VerifikasiServlet</servlet-name>
        <servlet-class>com.bo.servlet.VerifikasiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifikasiServlet</servlet-name>
        <url-pattern>/VerifikasiServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogServlet</servlet-name>
        <servlet-class>com.bo.servlet.LogServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogServlet</servlet-name>
        <url-pattern>/LogServlet</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>VersionServlet</servlet-name>
        <servlet-class>com.bo.servlet.VersionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VersionServlet</servlet-name>
        <url-pattern>/VersionServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>PengembalianDanaServlet</servlet-name>
        <servlet-class>com.bo.servlet.PengembalianDanaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PengembalianDanaServlet</servlet-name>
        <url-pattern>/PengembalianDanaServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>BlacklistServlet</servlet-name>
        <servlet-class>com.bo.servlet.BlacklistServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BlacklistServlet</servlet-name>
        <url-pattern>/BlacklistServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdsServlet</servlet-name>
        <servlet-class>com.bo.servlet.AdsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdsServlet</servlet-name>
        <url-pattern>/AdsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VaServlet</servlet-name>
        <servlet-class>com.bo.servlet.VaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VaServlet</servlet-name>
        <url-pattern>/VaServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>QrServlet</servlet-name>
        <servlet-class>com.bo.servlet.QrServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>QrServlet</servlet-name>
        <url-pattern>/QrServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckOtpServlet</servlet-name>
        <servlet-class>com.bo.servlet.CheckOtpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckOtpServlet</servlet-name>
        <url-pattern>/CheckOtpServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpgradeServlet</servlet-name>
        <servlet-class>com.bo.servlet.UpgradeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpgradeServlet</servlet-name>
        <url-pattern>/UpgradeServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Home</servlet-name>
        <jsp-file>/WelcomePage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>    
    <servlet>
        <servlet-name>PengembalianDana</servlet-name>
        <jsp-file>/pengembalian_dana.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>PengembalianDana</servlet-name>
        <url-pattern>/PengembalianDana</url-pattern>
    </servlet-mapping>    
    <servlet>
        <servlet-name>CheckOtp</servlet-name>
        <jsp-file>/check_otp.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckOtp</servlet-name>
        <url-pattern>/CheckOtp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Upgrade</servlet-name>
        <jsp-file>/upgrade.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Upgrade</servlet-name>
        <url-pattern>/Upgrade</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Member</servlet-name>
        <jsp-file>/member.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Member</servlet-name>
        <url-pattern>/Member</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ActivationTrx</servlet-name>
        <jsp-file>/activation_transaction.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActivationTrx</servlet-name>
        <url-pattern>/ActivationTrx</url-pattern>
    </servlet-mapping>    
    <servlet>
        <servlet-name>UserVersion</servlet-name>
        <jsp-file>/version_user.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserVersion</servlet-name>
        <url-pattern>/UserVersion</url-pattern>
    </servlet-mapping>    
    <servlet>
        <servlet-name>AgentVersion</servlet-name>
        <jsp-file>/version_agent.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AgentVersion</servlet-name>
        <url-pattern>/AgentVersion</url-pattern>
    </servlet-mapping>    
    <servlet>
        <servlet-name>ListTransaction</servlet-name>
        <jsp-file>/list_transaction_ppob.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListTransaction</servlet-name>
        <url-pattern>/ListTransaction</url-pattern>
    </servlet-mapping>        
    <servlet>
        <servlet-name>List7dayTransaction</servlet-name>
        <jsp-file>/list_7daytransaction_ppob.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>List7dayTransaction</servlet-name>
        <url-pattern>/List7dayTransaction</url-pattern>
    </servlet-mapping>        
        <servlet>
        <servlet-name>ListTodayTransaction</servlet-name>
        <jsp-file>/list_Todaytransaction_ppob.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListTodayTransaction</servlet-name>
        <url-pattern>/ListTodayTransaction</url-pattern>
    </servlet-mapping>    
        <servlet>
        <servlet-name>ListThisMonthTransaction</servlet-name>
        <jsp-file>/list_Thismonthtransaction_ppob.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListThisMonthTransaction</servlet-name>
        <url-pattern>/ListThisMonthTransaction</url-pattern>
    </servlet-mapping>
    <!--//Agent-->
    <servlet>
        <servlet-name>AddAgent</servlet-name>
        <jsp-file>/add_agent.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddAgent</servlet-name>
        <url-pattern>/AddAgent</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddMerchant</servlet-name>
        <jsp-file>/add_merchant.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddMerchant</servlet-name>
        <url-pattern>/AddMerchant</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListAgent</servlet-name>
        <jsp-file>/list_agent.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListAgent</servlet-name>
        <url-pattern>/ListAgent</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListMerchant</servlet-name>
        <jsp-file>/list_merchant.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListMerchant</servlet-name>
        <url-pattern>/ListMerchant</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListLimit</servlet-name>
        <jsp-file>/list_limit.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListLimit</servlet-name>
        <url-pattern>/ListLimit</url-pattern>
    </servlet-mapping>
    <!--//Biller-->
    <servlet>
        <servlet-name>ListConnectionBiller</servlet-name>
        <jsp-file>/connection_biller.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListConnectionBiller</servlet-name>
        <url-pattern>/ListConnectionBiller</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddConnectionBiller</servlet-name>
        <jsp-file>/add_connection_biller.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddConnectionBiller</servlet-name>
        <url-pattern>/AddConnectionBiller</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddProductBiller</servlet-name>
        <jsp-file>/add_product_biller.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProductBiller</servlet-name>
        <url-pattern>/AddProductBiller</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListBillerProduct</servlet-name>
        <jsp-file>/list_biller_product.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListBillerProduct</servlet-name>
        <url-pattern>/ListBillerProduct</url-pattern>
    </servlet-mapping>
    <!--//Transaction-->
    <servlet>
        <servlet-name>AddProductCode</servlet-name>
        <jsp-file>/add_transaction.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProductCode</servlet-name>
        <url-pattern>/AddProductCode</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListProductCode</servlet-name>
        <jsp-file>/list_transaction.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListProductCode</servlet-name>
        <url-pattern>/ListProductCode</url-pattern>
    </servlet-mapping>
    <!--//Top Up Saldo Biller-->
    <servlet>
        <servlet-name>AddTopupSaldoBiller</servlet-name>
        <jsp-file>/add_tpsaldo_biller.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddTopupSaldoBiller</servlet-name>
        <url-pattern>/AddTopupSaldoBiller</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListTopupSaldoBiller</servlet-name>
        <jsp-file>/list_tpsaldo_biller.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListTopupSaldoBiller</servlet-name>
        <url-pattern>/ListTopupSaldoBiller</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BillerBalance</servlet-name>
        <jsp-file>/billerbalance.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>BillerBalance</servlet-name>
        <url-pattern>/BillerBalance</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>TimeoutSukses</servlet-name>
        <jsp-file>/pengembalian_timeout.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>TimeoutSukses</servlet-name>
        <url-pattern>/TimeoutSukses</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TimeoutGagal</servlet-name>
        <jsp-file>/pengembalian_timeout_gagal.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>TimeoutGagal</servlet-name>
        <url-pattern>/TimeoutGagal</url-pattern>
    </servlet-mapping>
    
    <!--//Top Up Saldo Agent-->
    <servlet>
        <servlet-name>AddTopupSaldoAgent</servlet-name>
        <jsp-file>/add_tpsaldo_agent.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddTopupSaldoAgent</servlet-name>
        <url-pattern>/AddTopupSaldoAgent</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListTopupSaldoAgent</servlet-name>
        <jsp-file>/list_tpsaldo_agent.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListTopupSaldoAgent</servlet-name>
        <url-pattern>/ListTopupSaldoAgent</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AgentBalance</servlet-name>
        <jsp-file>/agentbalance_new.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AgentBalance</servlet-name>
        <url-pattern>/AgentBalance</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HystoriPoin</servlet-name>
        <jsp-file>/hystoripoin.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>HystoriPoin</servlet-name>
        <url-pattern>/HystoriPoin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListPoinRedeem</servlet-name>
        <jsp-file>/list_poin_redeem.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListPoinRedeem</servlet-name>
        <url-pattern>/ListPoinRedeem</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddPoinRedeem</servlet-name>
        <jsp-file>/add_poin_redeem.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddPoinRedeem</servlet-name>
        <url-pattern>/AddPoinRedeem</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Verifikasi</servlet-name>
        <jsp-file>/verifikasi.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Verifikasi</servlet-name>
        <url-pattern>/Verifikasi</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListVerifikasi</servlet-name>
        <jsp-file>/list_verifikasi.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListVerifikasi</servlet-name>
        <url-pattern>/ListVerifikasi</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Hutang</servlet-name>
        <jsp-file>/hutang.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Hutang</servlet-name>
        <url-pattern>/Hutang</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Hutangterbayar</servlet-name>
        <jsp-file>/hutangterbayar.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Hutangterbayar</servlet-name>
        <url-pattern>/Hutangterbayar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Piutang</servlet-name>
        <jsp-file>/piutang.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Piutang</servlet-name>
        <url-pattern>/Piutang</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Piutangterbayar</servlet-name>
        <jsp-file>/piutangterbayar.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Piutangterbayar</servlet-name>
        <url-pattern>/Piutangterbayar</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddBlackList</servlet-name>
        <jsp-file>/add_black_list.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddBlackList</servlet-name>
        <url-pattern>/AddBlackList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BlackList</servlet-name>
        <jsp-file>/list_blacklist.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>BlackList</servlet-name>
        <url-pattern>/BlackList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <jsp-file>/add_user.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListUser</servlet-name>
        <jsp-file>/list_user.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListUser</servlet-name>
        <url-pattern>/ListUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListLog</servlet-name>
        <jsp-file>/list_log.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListLog</servlet-name>
        <url-pattern>/ListLog</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListCorp</servlet-name>
        <jsp-file>/list_corp.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListCorp</servlet-name>
        <url-pattern>/ListCorp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddCorp</servlet-name>
        <jsp-file>/add_corp.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCorp</servlet-name>
        <url-pattern>/AddCorp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListKop</servlet-name>
        <jsp-file>/list_koperasi.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListKop</servlet-name>
        <url-pattern>/ListKop</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddKop</servlet-name>
        <jsp-file>/add_koperasi.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddKop</servlet-name>
        <url-pattern>/AddKop</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListAds</servlet-name>
        <jsp-file>/list_ads.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListAds</servlet-name>
        <url-pattern>/ListAds</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddAds</servlet-name>
        <jsp-file>/add_ads.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddAds</servlet-name>
        <url-pattern>/AddAds</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListQr</servlet-name>
        <jsp-file>/list_qr.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListQr</servlet-name>
        <url-pattern>/ListQr</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddQr</servlet-name>
        <jsp-file>/add_qr.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddQr</servlet-name>
        <url-pattern>/AddQr</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListProductUser</servlet-name>
        <jsp-file>/list_mapping_agent.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListProductUser</servlet-name>
        <url-pattern>/ListProductUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddProductUser</servlet-name>
        <jsp-file>/add_mapping_agent.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProductUser</servlet-name>
        <url-pattern>/AddProductUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddProductUserPayment</servlet-name>
        <jsp-file>/add_mapping_agent_payment.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProductUserPayment</servlet-name>
        <url-pattern>/AddProductUserPayment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListVa</servlet-name>
        <jsp-file>/list_va.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListVa</servlet-name>
        <url-pattern>/ListVa</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HystoriTrfCorp</servlet-name>
        <jsp-file>/hystori_trf_corp.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>HystoriTrfCorp</servlet-name>
        <url-pattern>/HystoriTrfCorp</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddAgentKop</servlet-name>
        <jsp-file>/add_agent_kop.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddAgentKop</servlet-name>
        <url-pattern>/AddAgentKop</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewAgentVersion</servlet-name>
        <jsp-file>/version_agent.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewAgentVersion</servlet-name>
        <url-pattern>/ViewAgentVersion</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Withdrawal</servlet-name>
        <jsp-file>/withdrawal.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Withdrawal</servlet-name>
        <url-pattern>/Withdrawal</url-pattern>
    </servlet-mapping>
</web-app>
